body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.about{
  text-align: center;
  margin-top: 50px;
  width: 100%;
  font-size: 18px;
}

.about h1{
  font-family: 'Dancing Script', cursive;
  margin-bottom: 15px;
  color: #e7c7b7;
  text-shadow: 0.3px 0.3px #e7c7b7;
}
.d-block{
  text-align: center;
  margin-left: 27rem;
  padding: 60px;
  width: 40%
}

.logo {
  width:220px;
  height:220px;
  margin-right: 200px;
}

/******* SEARCH *******/

.flex-box {
  background: #e7c7b7;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: white;
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 28px;
  transform: rotate(135deg);
}

.search > div > input {
  color: white;
  font-weight: bold;
  font-size: 20px;
  background: transparent;
  width: 30px;
  height: 30px;
  padding: 15px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
  cursor: pointer;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 300px;
}

.incase-nopost{
  color:#e7c7b7;
  text-align: center;
  padding-top: 30px;
}
/******* SEARCH *******/

/******* ALL POSTS *******/

.post-container-card{
  list-style:none;
  text-align: center;
  padding-left:120px;
  margin-top:40px;
 }

.post-card{
  margin: 2rem;
}

.post-card-image{
  width: 100%;
  height: 18rem;
}

.post-card-image:hover{
  opacity: 1;
	-webkit-animation: flash 2s;
	animation: flash 2s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@media (min-width: 768px) {
  .post-container-card {
    display: flex;
    flex-wrap: wrap;
  }

  .post-card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .post-card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .post-card {
    width: calc(20% - 2rem);
  }
}

.post-card-title {
  width:100%;
  height:70px;
  color:#e7c7b7;
  text-shadow: 0.3px 0.3px #e7c7b7;
  margin-bottom: 50px;
  margin-top:20px;
}
.post-card-total-like{
  width:100%;
  margin-top: 10px;
}

.button-viewmore {
  align-items: center;
  border-radius: 4px;
  background-color: #e7c7b7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 12px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button-viewmore span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-viewmore span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-viewmore:hover span{
  padding-right: 25px;
}

.button-viewmore:hover span:after{
  opacity: 1;
  right: 0;
}

/******* ALL POSTS *******/

/******* ALL FORM *******/

.all-h1, .h1-profile{
  color: #e7c7b7;
  font-size: 2rem;
  padding: 40px;
  text-align: center;
}

.p-signup{
  text-align: center;
  padding-bottom: 30px;
  color: grey;
  text-shadow: 0.2px 0.2px grey;
}
.all-form { 
  height: 85vh;
  margin: 0 33rem; 
  width:90%
}

.all-form-input{
  width: 30%;
  padding: 12px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.review{
  height: 200px;
}

.allform-button{
  background-color: #e7c7b7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  font-size: 16px;
  font-weight: bold;
}

.allform-button:hover{
  opacity: 0.7;
}

/******* ALL FORM *******/

/******* PROFILE *******/
.header i {
  font-size: 25px;
  color: #d1ac9b;
  padding: 10px;
  margin-top:5px;
}

.edit-icon{
  float: left;
  margin-left:10px;
}
.edit-icon:hover{
  cursor: pointer;
  opacity: 0.7;
}

.h1-profile{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  
}
.user-name{
padding-bottom: 10px;
}

.profile-cover{
  position: relative;
  width: 100%;
  height: 900%;
  /* background: rgba(0, 0, 255, 0.2); */
  /* z-index: -1; */
}
.profile-container{
  width: 400px;
  height: 500px;
  background-color: #fff8f4;
  margin: 30px auto;
  border-radius: 12px;
  /* overflow: hidden; */
}

div.middle{
  position:relative;
  text-align: center;
  top: 40px;
}

.profile-image{
  width:150px;
  height: 150px;
  border-radius: 80%; 
  border: 5px solid rgba(255,255,255,1);
  margin-bottom: 30px;
  margin-right: 60px;
}

div p {
  color: rgb(143, 140, 140);
  text-shadow: 0.2px 0.2px rgb(143, 140, 140);
}

/******* PROFILE *******/


/******* POST DETAIL *******/

.edit-delete-container{
  position: relative;
  margin-top: 20px ;
  font-size: 30px;
  color: #d1ac9b;
}

.fa-edit{
  position: absolute;
  top: 8px;
  right: 100px;
  font-size: 30px;
}

.fa-trash-alt{
  position: absolute;
  top: 8px;
  right: 60px;
}

.fa-edit:hover, .fa-trash-alt:hover{
  opacity: 0.6;
}

.post-details-container{
  display: block;
}

.post-details{
  /* border: .25px solid #dedede; 
  border-radius: 5px; 
  background-color: #f1efed; */
  margin: 10px auto;
  width: 60vw;
  text-align: center;
}

.post-details img {
  display: block;
  width: 25vw;
  height: 25vw;
  margin: 50px auto 30px auto;
}

.like-btn{
  background-color: #e7c7b7;
  color: white;
  /* padding: 14px 20px; */
  /* margin: 8px 0; */
  border: none;
  cursor: pointer;
  width: 10%;
  font-size: 16px;
  font-weight: bold;
}

.like-btn:hover{
  opacity: 0.7;
}

.post-details-info{
  margin: 15px auto;
  
}
.userinfo{
  margin: 50px 20px 0px;
  width: 30vw;
}

.userinfo span{
  color:rgb(133, 130, 130);
  margin-left: 10px;
}
.avatar-in-postDetail{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-left: 90px;
  
}

.username-in-postDetail{
  margin-left: 90px;
}
.review-in-postDetail{
  width: 80%;
  padding-left: 30rem;
  margin-top: -180px;
}

.likes-comments{
  margin-top: 8rem;
}

.edit-delete-btn{
  background-color: #e7c7b7;
  color: white;
  padding: 5px 15px;
  margin: 0px 15px 10px;
  border: none;
  cursor: pointer;
  
  font-size: 16px;
  font-weight: bold;
}
  
.edit-delete-btn:hover{
  opacity: 0.7;
}

.edit-post{
  width:100%
}

.likes-comments-container{
  margin: 50px 30px;
}

h3.leave-comment{
  margin-bottom: 20px;
}
.comment-textarea{
  height: 100px;
  width: 200px;
}

.edit-btn-commentDetail, .updated-comment{
  background-color: #e7c7b7;
  color: white;
  padding: 3px 10px;
  margin: 0px 10px;
  border: none;
  cursor: pointer;
  width: 9%;
  font-size: 16px;
  font-weight: bold;

}

.edit-btn-commentDetail:hover, .delete-btn-commentDetail:hover, .updated-comment:hover{

    opacity: 0.7;
  
}

.delete-btn-commentDetail{
  color: white;
  padding: 3px 10px;
  margin: 0px 10px;
  border: none;
  cursor: pointer;
  width: 9%;
  font-size: 16px;
  font-weight: bold;
  background-color:rgb(160, 100, 100);
}
/******* POST DETAIL *******/

.avatar-in-commentDetail{
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 10px;
}

p.content {
  margin-left: 30px;
  font-style: italic;
}