body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width:250px;
  height:250px;
  padding-right:100px
}

/******* SEARCH *******/

.flex-box {
  background: #e7c7b7;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: white;
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.search > div > input {
  color: white;
  font-weight: bold;
  font-size: 20px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 300px;
}

.incase-nopost{
  color:#e7c7b7;
  text-align: center;
  padding-top: 30px;
}
/******* SEARCH *******/

/******* ALL POSTS *******/

.post-container-card{
  list-style:none;
  text-align: center;
  padding-left:100px
 }

.post-card{
  margin: 2rem;
}

.post-card-image{
  width: 100%;
  height: 18rem;
}

.post-card-image:hover{
  opacity: 1;
	-webkit-animation: flash 2s;
	animation: flash 2s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@media (min-width: 768px) {
  .post-container-card {
    display: flex;
    flex-wrap: wrap;
  }

  .post-card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .post-card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .post-card {
    width: calc(20% - 2rem);
  }
}

.post-card-title {
  width:100%;
  height:70px;
}
.post-card-total-like{
  width:100%;
  margin-top: 10px;
}

.button-viewmore {
  align-items: center;
  border-radius: 4px;
  background-color: #e7c7b7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 12px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button-viewmore span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-viewmore span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-viewmore:hover span{
  padding-right: 25px;
}

.button-viewmore:hover span:after{
  opacity: 1;
  right: 0;
}

/******* ALL POSTS *******/

/******* LOGIN/SIGNUP FORM *******/
.h1-login{
  color: #e7c7b7;
  font-size: 2rem;
  padding: 20px 125px;
}

.h1-signup {
  color: #e7c7b7;
  font-size: 2rem;
  padding: 20px 110px;
}
.h1-signup + p{
  padding-bottom: 30px;
}
.login-signup-container { 
  height: 85vh;
  margin: 0 33rem;
  width:80%
}

.for-login-signup{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button-login-signup{
  background-color: #e7c7b7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  font-size: 16px;
  font-weight: bold;
}

.button-login-signup:hover{
  opacity: 0.7;
}

/******* LOGIN/SIGNUP FORM *******/

.avatar-in-postDetail{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}